


.aboutq {
    width: 100%;
    min-height: 55vh;
    background-color: rgb(117, 208, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewY(1.5deg);

}

.aboutq .cnieco img {
    height: auto;
    width: 600px;

}

.tekt {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
    color: #fff;
    height: 370px;
}

.cnieco {
    width: 1280px;
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}




.tekt h3 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}

.tekt p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    color: #1d1d1d;
    
}

.tekt .buttonik{
    margin-inline: auto;
        color: var(--eerie-black-1);
        font-size: var(--fs-8);
        text-transform: uppercase;
        font-weight: var(--fw-700);
        min-height: 45px;
        padding-inline: 35px;
        position: absolute;
        background: white;
        border-radius: 10px;
}

.tekt .buttonik:hover{
    background: black;
    color: #fff;
}




/* hero section */
.aboutqa {
    width: 100%;
    min-height: 35vh;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.aboutqa .cniecoa img {
    height: 350px;
    width: 600px;

}

.tekta {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
    color: #fff;
}

.cniecoa {
    width: 1280px;
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}



@media(max-width: 568px) {
    
.aboutq .cnieco img {
        display: none;
        overflow: hidden;

    }

   

                .tekt p {
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: #1d1d1d;
                    line-height: 20px;
        
                }

                                .tekt h3 {
                                    padding-top: 35px;
                                    color: rgb(0, 0, 0);
                                    font-size: 25px;
                                    margin-bottom: 4px;
                                    font-weight: 700;
                                }

                                                                .tekt .buttonik {
                                                                    display: none;
                                                                  
                                                                }
                                
 }






@media(max-width: 768px) {

    .aboutq .cnieco img {
        display: none;
        overflow: hidden;

    }
  }



.cardh {
    text-align: center;
    font-size: 45px;
    color: #fff;

}


