* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.lessandmore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}




.accordion {
    max-width: 800px;
}

.accordion .kontentBx {
    position: relative;
    margin: 10px 20px;
}


.accordion .kontentBx .labels {
    position: relative;
    margin: 10px;
    background: var(--marigold);
    box-shadow: 0 0 10px #000149;
    color: #111;
    cursor: pointer;
    font-size: 1.8em;
    border-radius: 15px;
   

}

.accordion .kontentBx .labels::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .kontentBx.active .labels::before {
    content: '-';
}

.accordion .kontentBx .kontennnt {
    position: relative;
    
    
    color: #fff;
    text-shadow: 0 0 10px #000;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: hidden;
}

.accordion .kontentBx.active .kontennnt {
    height: 150px;
    padding: 10px;
}

.labels {
    text-align: left;
    text-indent: 15px;

}


@media (max-width: 500px) {
    .dili {
        color: #fff;
        background: #000;
        text-align: center;
        padding-top: 50px;
        text-shadow: 0 0 10px black,
            0 0 20px #2193f3,
            0 0 40px #2193f3;
        font-size: 20px;
    }



    .lessandmore {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        background: #000;

    }

    .accordion .kontentBx .kontennnt {
        text-align: center;
        font-size: 14px;
    }



}

.h32 {
    color: var(--white);
    font-weight: var(--fw-800);
    line-height: 1;
    text-align: center;
    font-size: 45px;
    padding-top: 50px;
}

