.skolicko {
    min-height: 40vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}


.skolenie h3 {
    font-size: 35px;
    text-align: center;
}

.skolenie p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}

.skolenie{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.krabica {
    height: 180px;
    width: 500px;
    border-radius: 20px;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px 15px;
    box-shadow: 
            0 0 10px #2193f3,
            0 0 20px rgb(117, 208, 255);
           
}



.krabica:hover{
    background: rgb(117, 208, 255);
    transition: 0.5s;
    scale: 1.1;
    transform: scale(1);
}

.htr {
    text-align: center;
    font-size: 25px;
    color: rgb(117, 208, 255);
    
}


@media(max-width: 768px){
    .skolicko{
        width: 98%;
        margin: 0 auto;
    }

    .krabica {
        height: 180px;
       
    }

   
}

@media(max-width: 568px) {
    .skolicko {
        width: 98%;
        margin: 0 auto;
    }

    .krabica {
        height: 240px;
        width: 98%;
        margin-right: 0px;

    }

        


}